$comfortaa: 'Comfortaa', cursive;
$torea__bay: #5c0ab9;
$jaffa: #76f06f; 

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: $comfortaa
}

body {
    color: $jaffa;
    background: $torea__bay;
    padding-left: 25%;
    padding-right: 25%;
}

hr {
    background: $jaffa;
    margin-bottom: 16px;
    margin-top: 16px;
}

h3 {
    margin-top: 16px;
    margin-bottom: 16px;
}

a {
    color: white;
}
